### Sample OpenWRT config file ###

## general
# source image for Raspberry Pi build target
SOURCE_IMG=openwrt-19.07.2-brcm2708-bcm2708-rpi-ext4-factory.img
# source for build (x86) target
OPENWRT_SOURCE_VER=19.07.3
# final tag for built Docker image
BUILD_TAG=openwrt
# container name 
CONTAINER=openwrt_1
ROOT_PW=changeme123

# docker network settings
# wan
WAN_NAME=openwrt-wan
# host interface which will provide the WAN link for OpenWRT
WAN_PARENT=eth0
UPSTREAM_DNS_SERVER=8.8.8.8

# Static IP address configuration for OpenWRT LAN
LAN_NAME=openwrt-lan
# host interface which will provide the LAN link for OpenWRT
LAN_PARENT=eth1
LAN_DOMAIN=home
LAN_SUBNET=192.168.16.0/24
LAN6_SUBNET=fd99:1234::/48
# Set LAN_ADDR to something other than the first available address
# in the subnet - Docker will claim this address for the host
LAN_ADDR=192.168.16.2
# openwrt doesn't accept CIDR notation; must match LAN_SUBNET
LAN_NETMASK=255.255.255.0

# wifi settings for first wifi interface
WIFI_IFACE_0=wlp1s0
WIFI_SSID_0=DockedWRT0
WIFI_ENCRYPTION_0=psk2
WIFI_KEY_0=12345678
# Wireless 5Ghz
# WIFI_HW_MODE_0=11a
# WIFI_HT_MODE_0=VHT80
# WIFI_CHANNEL_0=36
WIFI_HW_MODE_0=11g
WIFI_HT_MODE_0=HT20
WIFI_CHANNEL_0=6

# wifi settings for second wifi interface
WIFI_IFACE_1=wlp2s0
WIFI_SSID_1=DockedWRT1
WIFI_ENCRYPTION_1=psk2
WIFI_KEY_1=12345678
# Wireless 5Ghz
# WIFI_HW_MODE_1=11a
# WIFI_HT_MODE_1=VHT80
# WIFI_CHANNEL_1=36
WIFI_HW_MODE_1=11g
WIFI_HT_MODE_1=HT20
WIFI_CHANNEL_1=7
